/* html inteiro */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* body inteiro */
body {
  margin: 0;
}

/* fonte do conteúdo na parte de baixo do index */
.conteudo {
  color: grey;
}

/* fonte menor */
.fonte_peq {
  font-size: smaller;
  color:grey;
}

/* fonte média para pequena */
.fonte_peq2 {
  font-size: small;
  color:grey;
}

/* botão à direita do cadastro no index */
.botao_direita {
  font-size: large;
  height: 50px;
  width: 400px;
  background-color: #e1dfe3;
  border-radius: 30px;
  border:0;
}

/* hover do botão à direita do cadastro no index */
.botao_direita:hover {
  background-color: #eeedf0;
}

.botao_form {
  font-weight: bold;
  height: 45px;
  width: 232px;
  background-color: #e1dfe3;
  border-radius: 10px;
  border: 1px solid;
  border-color: #9b1536;
}

.botao_form:hover {
  background-color: #9b1536;
  color: white;
}

.campo_form {
  width: 300px;
  height: 30px;
  border: 1px solid;
  border-color: #9b1536;
  border-radius: 5px;
}

#fundo {
  background-image: url("../img/background.png");

}

/* botões do formulário de cadastro */
#botoes_form{
  text-align: center;
}

/* logo da católica */
#logo {
  width: 170px;
}

/* logo da página do carousel */
#logo_carousel {
  width: 60px;
}

/* cabeçalho */
#cabecalho {
  height: 80px;
  width: 100%;
  background-color: #9b1536;
}

/* coluna ao lado do vídeo no index */
#col2 {
  padding: 0 0 5% 3%;
  background-color: #f6f6f6; 
}

/* ícone coordenador index */
#icon {
  width: 20%;
  margin-top: 3%;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 50%;
}

/* coluna de coordenador no index */
#col_coord {
  padding:0 0 20% 20px;
}

/* informações no index */
#informacoes {
  padding: 0 0 37px 120px;
  border-style: solid;
  border-color: white;
}

/* div cadastro */

#campos_cadastro {
  padding: 30px 0px 30px 0px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #9b1536;
  background-color: #f6f6f6;
  text-align: center;
}



/*        MUDAR COR DO RADIO     */

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  border: 2px solid #9b1536;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #9b1536;
}



/*                           CAROUSEL                         */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Esconder imagens */
.mySlides {
  display: none;
}

/* Botões */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posição next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover botão */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Texto slides (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}